/CreateDataDictionary.class
/SObjectDataDictionary.class
/DataDictionaryManager.class
/DictionaryVO.class
/DictionaryFieldVO.class
/DictionaryLayoutVO.class
/DictionarySObjectVO.class
/DictionaryManager.class
/SObjectDictionaryHandler.class
/BusinessObjectsFinder.class
/DictionaryGenerator.class
/ObjectModelGenerator.class
/DictionaryLambda.class
