/ApprovalProcessProcessing.class
/DeleteUnwantedTagsFromMetadata.class
/GenerateDocumentTemplateXML.class
/GenerateEmailTemplateXML.class
/GenerateProfilesXML.class
/GenerateReportFolderXML.class
/ReplaceString.class
/Utility.class
/ZipDirectory.class
/WorkFlowProcessing.class
/ManipulateUserPreferenceCS.class
/DeleteCaseIntegrationLayout.class
/ReplaceApprovalUsername.class
/RenamePublicProfile.class
/ProfileCleanUpStep.class
/CustomObjCleanUpStep.class
/GenerateManagedFieldsXML.class
/CleanupManagedFieldsProfile.class
/DeleteProfileUserPermission.class
/DeletePackageVersion.class
/ReplaceWorkflowUsername.class
/CleanProfile.class
/RemovePartnerRoles.class
/GenerateRolesXML.class
/CreateUsers.class
/MigrateUsers.class
